@import './partials/video';
@import './partials/carousel';
@import './partials/carouselItem';
@import './partials/chatBox';
@import './partials/optionBox';
@import './partials/questionBox';
@import './partials/recommendations';
@import './partials/selectionOption';

@import './utils/colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

// last-page-container
.last-page-container {
  width: 100%;
  height: 440px;
  .question-box {
    padding: 10px 15px 0px 15px;
  }
}
// end of last-page-container

// second-to-last-page-container
.second-to-last-page-container {
  width: 100%;
  height: 440px;
  overflow: hidden;
  .question-box {
    padding: 10px 15px 0px 15px;
  }
}
// end of second-last-page-container
